section#contact {
  background-color: #252934;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-transform: uppercase;
  }

  h2:after {
    content: '';
    border-bottom: 3px solid #fff;
    width: 70px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 14px;
  }

  .form-submit-section {
    button {

    }
  }

  form{
    input, textarea {
      width: 100%;
      padding: 15px;
    }

  }


  .modal-header {
    padding: 15px;
  }

  .btn-close {
    margin: 0;
    padding-right: 24px;
  }
  .modal-title {
    h4 {
      font-weight: bold;
    }
  }
  .modal-content {
    color: black;

    p {
      font-size: 1.3rem;

    }
  }

  .modal-header {
    border: none;
  }
  .modal-footer {
    border: none;
  }

}
