nav.navbar {
  //width: 100%;
  //position: fixed;
  //top: 0;
  //z-index: 99;
  padding-bottom: 0;
  padding-top: 0;

  li.nav-item {
    margin-left: 5px;
    margin-right: 5px;
  }


}

.navbar-nav a {
  color: white;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-light .navbar-nav .nav-link {
  color: white!important;

  &:hover {
    color: white!important;
    background-color: #189;
    text-decoration: none;
  }
}
.navbar-nav .nav-link.active {
  color: white!important;
  background-color: #189;


}

