@import "_nav.scss";
@import "_footer.scss";
@import "_contact.scss";
@import "_projecten.scss";
@import "_skills.scss";

@import "custom";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.2rem;
}

h2::after {
  content: '';
  border-bottom: 3px solid #000;
  width: 70px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 14px;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #189;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.btn.btn-primary, .btn.btn-secondary, .btn-tertiary {
  padding: 10px 50px;
  font-size: 1rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #000035;
  border: 3px solid #000035;

  &:hover, &:focus{
    background-color: transparent;
    border: 3px solid #000035;
    color: #000035;
    box-shadow: none;
    outline: none;
  }
}

.btn-tertiary {
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
}
.btn-tertiary:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.white {
  color: #ffffff;
}
.header {
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header a.btn.btn-primary {
  text-decoration: none;

  svg {
    margin-left: 15px;
  }

  &:hover {
    svg {
      transform: rotate(90deg);
      transition: all 350ms ease-in-out;
      text-decoration: none;
    }
  }
}
.quality-bg {
  background-color: #189383;
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  img {
    filter: brightness(0) invert(1);
    position: relative;
    z-index: 1;
    transform: scale(0.7);
  }
}
.quality-content p{
  font-size: 0.7rem
}
.quality-title {
  font-size: 1rem;
}
@media screen and(min-width: 992px){
  .quality-bg {
    height: 150px;
    width: 150px;
  }
  .quality-content p{
    font-size: 1rem
  }

}

